<h1>Edit Note</h1>

<%= render "form.html",
  conn: @conn,
  changeset: @changeset,
  action: note_path(@conn, :update, @note),
  submit_text: "Update Note" %>

<%= link "Cancel", to: note_path(@conn, :show, @note.id) %>
