<h1>New Note</h1>

<%= render "form.html", 
  conn: @conn, 
  changeset: @changeset, 
  action: note_path(@conn, :create),
  submit_text: "Create Note",
  cancel_link:  link("Cancel", 
                      to: note_path(@conn, :index)) %>
