<h1><%= @note.title %> (<%= @note.id %>)</h1>

<p><%= render_markdown(@note.description) %></p>

<%= link "Back", to: note_path(@conn, :index) %> |
<%= link "Edit", to: note_path(@conn, :edit, @note.id) %> |
<%= link "Delete", to: note_path(@conn, :delete, @note.id), method: :delete %>
