<h1>
  <b><%= @note.title %></b> (<%= @note.id %>)
</h1>

<p><%= @note.description %></p>

<%= link "Edit", to: note_path(@conn, :edit, @note.id) %> |
<%= link "Delete", to: note_path(@conn, :delete, @note.id) %>
